extends layout

block content
  h1= title
  p Welcome to #{title}

  a(class='button', href='https://discordapp.com/oauth2/authorize?client_id=181517401546817537&scope=bot&permissions=4177912') Add Bot
  a(class='button', href='/quotes') Download Quotes
